<!-- userlist.html -->
<div style="margin:20px;">
  <h3>Active Users</h3>
  <ul>
    <div *ngFor="let user of users">
      <li *ngIf="user.status === 'active'">
        {{ user.name }} - {{ user.email }}
      </li>
    </div>
  </ul>
</div>

<div style="margin:20px;">
  <h3>User Status Messages</h3>
  <div *ngFor="let user of users">
    <div [ngSwitch]="user.status">
      <p *ngSwitchCase="'active'" 
      [ngStyle]="getStyle(user.status)" 
      [ngClass]="'active-user'">
        Welcome {{ user.name }} – Full access granted
      </p>

      <p *ngSwitchCase="'inactive'" 
      [ngStyle]="getStyle(user.status)" 
      [ngClass]="'inactive-user'">
        {{ user.name }}, Your account is not active. Please reset your account.
      </p>

      <p *ngSwitchCase="'pending'" 
      [ngStyle]="getStyle(user.status)" 
      [ngClass]="'pending-user'">
        {{ user.name }}, Your account will be activated after Admin approval.
      </p>

      <p *ngSwitchCase="'blocked'" 
      [ngStyle]="getStyle(user.status)" 
      [ngClass]="'blocked-user'">
        {{ user.name }}, Your account has been blocked and will be activated later.
      </p>
    </div>
  </div>

</div>